/*@font-face {
	font-family: 'poller_oneregular';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
		 url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		 url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
	font-family: 'leckerli_oneregular';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}*/

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
p a {
	color: #252525;
	text-decoration: underline;
}
p a:hover {
	color: #898989;
}
#header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 960px;
}
#header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
}
#header a.logo img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#header ul {
	margin: 0;
	padding: 56px 0 0;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a {
	color: #252525;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul li a:hover, #header ul li.selected a {
	color: #0ba39c;
}
#body {
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}
#body h1 {
	color: #fff;
	display: inline;
	font-family: poller_oneregular;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body > div {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#body > div img {
	border: 2px solid #292929;
	margin: 24px 0 0;
	padding: 0;
}
#body #featured {
	margin: 0 0 13px;
	padding: 0;
	position: relative;
	width: 100%;
}
#body #featured img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
#body #featured div {
	left: 50%;
	margin-left: -480px;
	margin-top: -171px;
	padding: 0 0 0 470px;
	position: absolute;
	top: 50%;
	text-align: left;
	width: 490px;
}
#body #featured div h2 {
	background: #fff;
	color: #000;
	display: inline-block;
	font-family: poller_oneregular;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 18px;
	padding: 23px 27px 20px;
	text-transform: uppercase;
}
#body #featured div span {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	margin: 7px 0;
	padding: 12px 27px;
}
#body #featured div a {
	background: #0ba39c;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin: 15px 0 0;
	padding: 26px 27px 22px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body #featured div a:hover {
	background: #1fc3bc;
}
#body > ul {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 960px;
}
