<html ng-app="App">
  <head>
    <script src="./js/angular.js"></script>
    <script src="./js/script.js"></script>
  </head>
  <body>
    <div >
      <div class="container" ng-controller="TasksController as vm">

        <h1 class="text-center">An example AngularJS todo app</h1>

        <div class="task-list">

          <h2>Remaining <small>&mdash; {{ vm.tasks.length }} / {{  vm.getTotalTasks() }} ({{  vm.calculatePercent( vm.tasks.length) }}%)</small></h2>

          <ul>
            <li ng-repeat="task in  vm.tasks track by $index" class="task">{{  task }}<a ng-click=" vm.markAsComplete($index)">O</li>
          </ul>

          <form ng-submit=" vm.add( vm.newTask)">

            <div class="form-group">
              <input ng-model="vm.newTask" type="text" class="form-control" placeholder="Type new task and hit enter">
            </div>

          </form>

        </div>

        <div class="task-list">

          <h2>Completed <small>&mdash; {{  vm.completedTasks.length }} / {{  vm.getTotalTasks() }} ({{  vm.calculatePercent( vm.completedTasks.length) }}%)</small></h2>

          <ul>
            <li ng-repeat="task in  vm.completedTasks  track by $index" class="completed-task">{{  task }}<a ng-click=" vm.markAsIncomplete($index)"><i class="fa fa-undo"></i></a></li>
          </ul>

        </div>

      </div>
    </div>
  </body>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</html>
