body{
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
p{
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;

}
p a{
	color: #252525;
	text-decoration: underline;;
}
p a:hover{
	color: #898989;
}
#header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 960px;
}
#header a.logo{
	display:block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
}
#header a.logo img{
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#header ul{
	margin: 0;
	padding:  56px 0 0;
}
#header ul li{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a{
	color: #252525;
	display: inline-block;
	font-family: sans-serif;
	font-size: 14px
	font-weight:normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul li a:hover,
#header ul li.selected a{
	color: #0ba39c;
}